/* about- section - start */

@import './main.scss';


#whoweare
{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    font-size: 3rem;
    margin-left: 22rem;
    color: #fff;
    font-weight: 500;
    height: 400px;
    text-align: inherit;
    margin-top: -30rem;
}

#descri_1
{
    color: $primary_color;
    font-size: 25px;
    // width: 550px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}




#whatwedo
{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: $primary_color;
    margin-top: -18rem;
    margin-left: -2rem;
    height: 400px;
    font-size: 3rem;
    font-weight: 500;  
}



/* about- section - end */



/* pillar section - start */


.pillarSection
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // margin-top: 10rem;
}

#about-pillar
{
    font-family: inherit;
    font-size: 5rem;
    color: $primary_color;
    margin-top: -10rem;
}

#pillarIcon
{
    align-items: center;
    justify-content: center;
    display: flex;
    color: $primary_color;
    font-size: 3rem;
    margin-top: -4rem;
    margin-left: -92px;
    position: relative;
}

/* pillar section - end  */
