@import './main.scss';

.campaign_text
{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box
{
    background-image: linear-gradient(to top, $violetColor 0%, $ashcolor 100%);
    height: 400px;
    width: 70%;
    border-radius: 8px;
    position: relative;
    margin-left: 5rem;
}

.cam_img
{
    position: absolute;
    // width: 150px;
    // height: 150px;
    // margin-top: -2rem;
    // left: 15%;
    // display: flex;
    top: -2rem;
    object-fit: contain;
    align-self: center;
    z-index: 1;
}

.vertical_text
{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    left: -1rem;
    bottom: 1rem;
    margin-left: -1rem;
}



.content
{
    position: absolute;
    margin-top: 10rem;
    margin-left: 3rem;
    // padding-right: 1rem;
}


@media only screen and (min-width: 768px) {

    .box{
        margin-left: 4rem;
    }

    .padding-top-65
    {
        padding-top: 65rem;
    }

    
}



@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{
    .padding-top-17
    {
        padding-top: 17rem;
    }

    .campaign_text
    {
        padding-top: 10rem;
    }

    .margin-top-10
    {
        padding-top: 17rem;
    }

    .top-10{
        padding-top: 30rem;
    }

    .m-top-10
    {
        padding-top: 0rem;
    }

    .padding-top-82
    {
        padding-top: 82rem;
    }

    .p-top-30
    {
        padding-top: 30rem;
    }
}