
@import './main.scss';
/* featurelist - start  */

.feature-list
{
    margin-top: 10rem;
    padding-bottom: 10rem;
    background-color: $bgPrimary;
}

#vision
{
    color: $primary_color;
    font-size: 4rem;
    font-weight: 500;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    margin-top: -34rem;
    position: absolute;
    height: 400px;
}

#mission
{
    color: $primary_color;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -21rem;
    position: absolute;
    margin-left: 14rem;
}


#statement
{
    color: $primary_color;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -8rem;
    position: absolute;
    margin-left: -19rem;
}


#values
{
    color: $primary_color;
    font-size: 4rem;
    font-weight: 500;
    writing-mode: vertical-lr;
    /* text-orientation: mixed; */
    margin-top: -15rem;
    position: absolute;
    margin-left: 13rem;
    height: 500px;
}


#plusIcon1
{
    position: absolute;
    margin-top: -3rem;
    margin-left: -11rem;
    color: $primary_color;
    font-size: 1.5rem;
}

#rightIcon1
{
    position: absolute;
    margin-top: -2.8rem;
    margin-left: -10rem;
    color: $primary_color;
    font-size: 1.1rem;
}

#descri_icon
{
    font-size: 1rem;
    color: $primary_color;
    position: absolute;
    margin-top: -26rem;
    margin-left: 14rem;
   
}


#plusIcon2
{
    position: absolute;
    margin-top: 6rem;
    margin-left: 0rem;
    color: $primary_color;
    font-size: 1.5rem;
}

#rightIcon2
{
    position: absolute;
    margin-top: 6.2rem;
    margin-left: 1rem;
    color: $primary_color;
    font-size: 1.1rem;
}

#descri_icon2
{
    font-size: 1rem;
    color: $primary_color;
    position: absolute;
    margin-top: -16rem;
    margin-left: 25rem;
}


#plusIcon3
{
    position: absolute;
    margin-top: 19rem;
    margin-left: -20rem;
    color: $primary_color;
    font-size: 1.5rem;
}

#rightIcon3
{
    position: absolute;
    margin-top: 19.2rem;
    margin-left: -21rem;
    color: $primary_color;
    font-size: 1.1rem;
}

#descri_icon3
{
    font-size: 1rem;
    color: $primary_color;
    position: absolute;
    margin-top: -3rem;
    margin-left: -18rem;
   
}

#plusIcon4
{
    position: absolute;
    margin-top: 22rem;
    margin-left: -11rem;
    color: $primary_color;
    font-size: 1.5rem;
}

#rightIcon4
{
    position: absolute;
    margin-top: 22.2rem;
    margin-left: -12rem;
    color: $primary_color;
    font-size: 1.1rem;
}

#descri_icon4
{
    font-size: 1rem;
    color: $primary_color;
    position: absolute;
    margin-top: 0rem;
    margin-left: -8rem;
}

.div2{

    margin-left: 10rem;
    margin-top: -10rem;

}

.div3{

    margin-left: 20rem;
    margin-top: -10rem;

}

.div4{

    margin-left: 30rem;
    margin-top: -10rem;
    
}
/* featurelist - start  */


/* why connect - start  */

.bar {
    list-style: none;
    width: 800px;
    margin-top: -9rem;
  }
  .bar >li {
    position: relative;
    color: $primary_color;
  }
  .bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 2rem;
  }
  .bar>li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px solid $primary_color;
    margin-left: 5px;
    height: 100%;
  }
  .bar >li:first-of-type:after {
    top: 50%;
  }
  .bar >li:last-of-type:after {
    top: -50%;
  }


  .why-connect
  {
      margin-top: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  #questionIcon
  {
    color: $primary_color;
    font-size: 4 rem;
    font-size: 3rem;
    margin-left: -22.5rem;
    margin-top: -21rem;
    position: absolute;
  }

  #whyconnect-text
  {
    color: $primary_color;
    font-size: 3rem;
    font-weight: 500;
    /* padding-top: 5rem; */
    margin-top: -36rem;
    margin-left: -23rem;
    font-family: system-ui;
    position: absolute;
}


/* why connect - end  */