@import './main.scss';


.navbar
{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    
}

.menu-nav
{
    color: $primary_color;
    font-size: 3rem;
    
}

.menu-btn
{
    color: $primary_color;
    font-size: 1.5rem;
}
.menu-btn:hover
{
    color: $primary_color;
    font-size: 1.5rem;
    border-color: $primary_color;
}

.profile_div
{
    background-color: aqua;
    width: 20%;
    height: 100vh;
    z-index: 1;
    float: right;
}


// home - content 

.headerSection
{
    
}

.margin-25vh
{
    margin-top:25vh;
}

.header-title
{
    // position: absolute;
    // margin-top: 20px;
    display: flex;
    font-size: 4rem;
    // font-family: system-ui;
    // /* right: 2px; */
    // z-index: 1;
    text-align: right;
    // z-index: 1;
    // right: 3%;
    align-items: center;
    justify-content: end;

}



.header-aboutus
{
    color: $primary_color;
    font-size: 2rem;
    margin-top: -5rem;
}

.aboutIcon
{
    margin-top: -2rem;
    position: absolute;
    color: $primary_color;
    font-size: 3rem;
    // margin-left: -9rem;
}


@media screen and (max-width: 768px) {
    .aboutIcon
    {
        
        // margin-right: 0rem;
        // right: 13rem;
        margin-top: -1rem;
        position: absolute;
        color: $primary_color;
        font-size: 3rem;
        // visibility: hidden;
    }

    .header-aboutus
    {
        
        color: $primary_color;
        font-size: 2.5rem;
        margin-top: -5rem;
    }

  }

