@import './main.scss';

.login-box
{
   
    border-block-color: inherit;
    border-color: rgb(32, 31, 31);
    // color: $primary_color;
    padding: 10px;
}

.m-20
{
    margin-top: 6rem !important;
}

@media (max-width:850px){
    .m-20
    {
        margin-top: 0 !important;
    }
}
