@import './main.scss';

.view-msg
{
    background-color: var(--bg);
    width: auto;
    height: auto;
}

.modal-msg
{
    // margin-top: -40rem;
    // position: absolute;
    // margin-left: 8%;
    width: 50%;  
    
}

.msg-text
{
    width: 100%;
    border: transparent;
}

.msg_textarea
{
    border: none;
    background-color: transparent;
    width:25%;
}

.arrow-color
{
    color: $primary_color;
}