@import './main.scss';

.view-msg
{
    background-color: antiquewhite;
    width: auto;
    height: auto;
}

.modal-msg
{
    // margin-top: -40rem;
    // position: absolute;
    // margin-left: 8%;
    width: 50%;  
    
}

.msg-text
{
    width: 100%;
    border: transparent;
}