@import './main.scss';
@import './campaign.scss';

.card-box
{
    background-color:  $ashcolor ;
    height: 650px;
    width: 65%;
    border-radius: 8px;
    position: relative;
    margin-left: 6.5rem;
    border-color: none;

}

.card-details
{
    background-color:  inherit;
    // width: 75%;
    border-color: none;
    border-style: none;
}

.payment_card
{
   
    background-color: $ashcolor;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.header_details
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // margin-left: 3rem;
}

.bg-img
{
    position: absolute;
    width: 100%;
    height: 260px;
    margin-top: 2;
    margin-top: 4rem;
}

.rating
{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0rem;
    z-index: 1;
}


.inner-box
{
    display: flex;
    align-items: flex-start; 
    // justify-content: flex-start;
    background-color: inherit;
    border: none;
    width: 90%;
    height: 350px;
    margin-top: 6rem;
}

.checkIcon
{
    background-color: inherit;
}


.pkg-content
{
    margin-left: 2rem;
    margin-top: -1rem;
}

.pkg-text
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    transform: matrix(1, 0, 0, 1, 0, 0);
    top: 525%;
    position: relative;
    padding-top: 70%;
    margin-top: 32rem !important;
}


.space-align
{
    padding-top:5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width: 768px) {

    .card-box
    {
        margin-left: 4rem;
        margin-top: 50%;
    }

    .pkg-text
    {
        top: 420%;
        padding-top: 0;
    }

    .pkg_div
    {
        position: relative;
        padding-top:50%;
    }

}


@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{
    .padding-top-60
    {
        padding-top: 40rem;
    }

    .card-box
    {
        margin-top: 30rem;
    }

    .margin-top-53
    {
        margin-top: -53rem;
    }

    .pkg-text
    {
        top: 640%;
        writing-mode: none;
        text-orientation: none;
        transform: none;
        writing-mode: lr-tb;
    }

   
}

@media only screen and (min-width: 1400px) {
   
    .pkg-text
    {
        margin-top: 15rem !important;
    }

}