@import './main.scss';

/* service - start  */


.service-main-div
{
  padding: 0;
  margin: 0;
}

.service_list
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    
}

.service_text
{
   
    font-size: 3rem;
    margin-left: 5rem;
    margin-top: -30rem;
}

#vertical_line
{
    border-left: 3px solid $primary_color;
    height: 550px;
    position: relative;
    margin-left: 5rem;
    top: -1;
}


.serviceIcon
{
    color: $primary_color;
    font-size: 3rem;
    margin-left: 4rem;
    margin-top:-1rem;
}

.service_1
{
    background-color: $ashcolor;
    width: 300px;
    height: 500px!important;
    margin-left: 6rem;
    border-radius: 10px;
    margin-top: 10rem;
}

#youtube_icon
{
    position: absolute;
    margin-top: -3rem;
    margin-left: -3rem;
}

ul.dashed {
    list-style-type: none;
    line-height: 2;
    
    font-size: 20px;
  }
  ul.dashed > li {
    text-indent: -5px;
    color: $primary_color;
   
  }
  ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
    color: $primary_color;
    
  }


  .items_list
  {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    padding-top: 7rem;
  }


  #second_col
  {
    position: absolute;
    margin-top: -58rem;
    margin-left: 31rem;
      
  }

  #vertical_text
  {
    color: #fff;
    font-size: 2rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    margin-top: 0rem;
    margin-left: 19rem;
    text-align: center;
    position: absolute;
    height: 500px;
  }

/* service - end  */


@media only screen and (min-width: 768px) {

  // large screen 

.text_service
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52rem;
}


  .service_text
{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    font-size: 3rem;
    margin-top: 52rem;
    margin-left: 2rem;
   
}

.vertical_line
{
    border-left: 3px solid $primary_color;
    height: 550px;
    position: relative;
    margin-left: 5rem;
    top: -1;
}


.serviceIcon
{
    color: $primary_color;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top:-1rem;
}


.service_1
{
  margin-left: 0rem;
}

}